@page "/popup.html"
@inherits BasePage

<h1 style="width:600px">hi there I'm of a larger width</h1>
<Slider Min="0" Max="100" @bind-Value="sliderValue"/>

    <div>
        <!---<input bind-value="InputValue" @bind-value:event="OnInput" Placeholder="Please enter a time"/> --->
        <p>Time: @timeSpan.ToString(@"hh\:mm\:ss") </p>
        <p> isRunning @isRunning.ToString() </p>
        <input @bind-value="@Hours" Placeholder="Hours" />
        <input @bind-value="@Minutes" Placeholder="Minutes" />
        <input @bind-value="@Seconds" Placeholder="Seconds" />
    </div>

<button @onclick="StartTimer">Start</button>
<button @onclick="StopTimer">Stop</button>
<button @onclick="ResetTimer">Reset</button>

@code {

   [Parameter]
   public EventCallback<ChangeEventArgs> ValueChanged { get; set; }


   private int? Hours;
   private int? Minutes;
   private int? Seconds;
   private float? totalTime = Hours * 3600 + Minutes * 60 + Seconds;


    private int sliderValue = 100;
    private TimeSpan timeSpan;
    private DateTime startTime;
    private Timer timer;
    private bool isRunning = false;

    private void StartTimer(){
        if(!isRunning){
            startTime = DateTime.Now; //The time is now
            timer = new Timer(UpdateTime, null, 0, 1000);
            isRunning = true;
        }
    }

    private void StopTimer(){
        if(isRunning){
            timer?.Dispose();
            isRunning = false;
        }
    }

    private void ResetTimer(){
        StopTimer();
        timeSpan = TimeSpan.Zero;
    }

    private void UpdateTime(object state){
        timeSpan = totalTime - DateTime.Now - startTime;
        InvokeAsync(StateHasChanged);
    }
}
